---
import GithubImage from "../assets/github.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="one commit at a time"
	pubDate={new Date("Mar 08 2026")}
	heroImage={{ ...GithubImage, width: 240, height: 240 }}
>
	<p>Hey I'm Szymon Kurek - Senior Software Engineer @ AgileEngine.</p>
	<p>
		I'm a big fan of programming in general - I created my first web page (html
		+ css) as a <i>presentation</i> for <a href="https://my-fantasy.net"
			>my-fantasy.net</a
		> and reignated the love writing LUA in my first tech job.
	</p>
	<p>
		Currently I'm trying to do one activity related to programming every day -
		whether it's writing a blog or making some code changes. You can keep me
		accountable <a href="https://github.com/kurekszymon/365" target="_blank"
			>here</a
		>.
	</p>
	<p>
		I'm trying to build some knowledge based on topics I worked or work with or
		I'm curious about. Projects vary in complexity and I try to learn how to
		document what I learned during them.
	</p>
	<p>
		I also want to do this to keep up with AI models progress over time - check
		how they work, use agents, use chats, tweak and experiment with them. I'm
		most likely to pick Claude Opus for serious work, Gemini for research (and
		because I have a free sub from work) and GPT when I don't want to waste
		tokens on Opus.
	</p>
	<p>
		Originally planned to do one concept per month, but I already checked:
		<ul>
			<li>web rtc</li>
			<li>web gpu</li>
			<li>electron</li>
			<li>broadcast channel, other builtin browser apis</li>
			<li>
				created cmake project for possible c++/webassembly project (paused due
				to lack of original ideas)
			</li>
			<li>
				building own code editor (paused for now to sharpen backend skills)
			</li>
			<li>
				learning backend + infrastracture with "production grade" Spring Boot
				application
			</li>
		</ul>
	</p>
</Layout>
