---
import GithubImage from "../assets/github.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="one commit at a time"
  pubDate={new Date("Mar 08 2026")}
  heroImage={{ ...GithubImage, width: 240, height: 240 }}
>
  <p>Hey I'm Szymon Kurek - Senior Software Engineer @ AgileEngine.</p>
  <p>
    I'm a big fan of programming in general - I created my first web page (html
    + css) as a <i>presentation</i> for <a href="https://my-fantasy.net"
      >my-fantasy.net</a
    > and reignated the love writing LUA in my first tech job.
  </p>
  <p>
    Currently I'm trying to do one activity related to programming every day -
    whether it's writing a blog or making some code changes. You can keep me
    accountable <a href="https://github.com/kurekszymon/365" target="_blank"
      >here</a
    >.
  </p>
  <p>
    I'm trying to build some knowledge based on topics I worked or work with or
    I'm curious about. Projects vary in complexity and I try to learn how to
    document what I learned during them.
  </p>
  <p>
    I also want to do this to keep up with AI models progress over time - check
    how they work, use agents, use chats, tweak and experiment with them. The
    more I use them though I get the feeling that they are great for
    prototyping, but generate so much noise around the task it's really hard to
    maintain that, unless you specifically guide them to resolve an isolated
    task.
  </p>
  <p>
    Originally planned to do one concept per month, but I already checked:
    <ul>
      <li>web rtc</li>
      <li>web gpu</li>
      <li>electron</li>
      <li>broadcast channel, other builtin browser apis</li>
      <li>
        created cmake project for possible c++/webassembly project (paused due
        to lack of original ideas)
      </li>
      <li>
        building own code editor (paused for now to sharpen backend skills)
      </li>
      <li>
        <strong>currently</strong> working on a wedding planner, check it out <a href="https://easywed.kurek.sh">here</a> or <a href="easywed.pages.dev">here</a> (some networks block <i>.sh</i> domain)
      </li>
    </ul>
  </p>
</Layout>
